<div class="col-md-10 float-left "> 
    <div style="height:100%;"> 

        
        <div class="width100">
<div class="back-internal-page width100">
    <div class="heading-title">Inomy Media Pvt Ltd</div>
    <div class="clear-both-20"></div>
<div class="clear-both-20"></div>


<div>



<div>


                <div class="no-more-tables">
                    <div class="section-heading">Edit Company  Details</div>
                    <table class="col-sm-12 table-bordered table-condensed ">
                        <colgroup>
                            <col style="background-color: rgb(243,243,243); width: 20%;" />
                            <col style="background-color: rgb(255,255,255); width: 30%;" />
                            <col style="background-color: rgb(243,243,243); width: 20%;" />
                            <col style="background-color: rgb(255,255,255); width: 30%;" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    Company Name *

                                </td>
                                <td>
                                    <input type="text" id="txtCompanyName" class="input-box-3 width100 " />
                                </td>
                                <td>
                                    Logo of the company *

                                </td>
                                <td>
                                    <input type="file" id="txtLogo" class="input-box-3 width100 " />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Company URL

                                </td>
                                <td>
                                    <input type="text" id="txtURL" class="input-box-3 width100 " />
                                </td>
                                <td>
                                   Contact EMail *

                                </td>
                                <td>
                                    <input type="text" id="txtEmail" class="input-box-3 width100 " />
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Contact Person *

                                </td>
                                <td>
                                    <input type="text" id="txtContactPerson" class="input-box-3 width100 " />
                                </td>
                               
                                <td>
                                   Mobile No. *
                                </td>
                                <td>
                                    <input type="file" id="txtMobile" class="input-box-3 width100 " />
                                </td>
                            </tr>
                            
                            <tr>
                                <td>
                                    Address

                                </td>
                                <td colspan="3">
                                    <input type="text" id="txtAddress" class="input-box-3 width100">
                                </td>
                               
                            </tr>
                            
                        </tbody>
                    </table>
                    <div class="clear-both-20"></div>
                    <div align="center"><input type="button" value="Update" class="btn-blck1" /></div>
                </div>
            </div>
<div class="clear-both-5"></div>


</div>


</div>

<div class="clear-both"></div>

</div>
</div>