
  <script type="text/javascript">
    $(document).ready(function () {
      $('.profile-img').click(function () {
        $('.profile-box').slideToggle("fast");
      });

      $('#open-left-menu').click(function () {
        $('#left-menu').slideToggle("fast");
      });


    });
  </script>
<div class="col-md-10 float-left">
  <div class="back-internal-page width100">
    <div class="back-internal-page width100">
      <div class="heading-title">Business Master</div>
      <div class="clear-both-20"></div>
      <div class="float-right">
        <div class="float-left" style="margin-top: 5px;">
          <button type="button" title="Download Report in XLS" id="btn_exporttoexcel" class="border-none">
            <i class="fa fa-file-excel-o file-icon" style="font-size: 30px;" aria-hidden="true"></i>
          </button>

        </div>
        <div class="display-inline">
          <button type="button" class="btn-orange  display-none" data-toggle="modal" data-target="#dv_addService"
            id="btn_service">+ New Product</button> <button type="button" class="btn-orange" data-toggle="modal"
            data-target="#dv_addOrg" id="btn_serviceType">+ New Business Category</button> <button type="button"
            class="btn-orange display-none" data-toggle="modal" data-target="#dv_addBusinessSubCategory" id="btn_serviceSubType">+
            New Business Sub-Category</button>
          </div>


      </div>
      <div class="clear-both-20"></div>

      <div>


        <div>
          <div class="position-relative padding-10-0">
            <div class="col-sm-6 padding-zero">
              <input type="text" class="input-box-3 width100 padding-10" placeholder="Type to search" id="txt_globalsearch"
                autocomplete="off">
              </div>
              <div class="col-sm-6 padding-zero text-align-right font-size1-1em">
              <div id="filter_btn" class="filter filter-link"><i class="fa fa-filter awe-filter"></i>Filters <i
                  class="fa fa-caret-down rotate arrow awe-arrow"></i></div>
              <div id="default_btn" class="filter default-link"><i class="fa fa-eye awe-filter margin-right-10px"></i>Default View <i
                  class="fa fa-caret-down rotate arrow awe-arrow"></i></div>
              <div id="column_btn" class="filter column-link"><i class="fa fa-gear awe-filter margin-right-10px"></i><span
                  id="col-span-box">Columns</span> <i class="fa fa-caret-down rotate arrow awe-arrow"></i></div>
              </div>
              <div class="clear-both"></div>
              <div id="filter_tab" class="display-none width100 filter-tab-box">
                <div id="assigned_tab_filter">
                  <div class="row">
                    <div class="col-sm-3 form-group">
                      <div class="label-text">Product Name</div>
                      <div>
                        <input type="text" id="" class="input-box-3 width100">
                      </div>
                    </div>
                    <div class="col-sm-3 form-group">
                      <div class="label-text">Business Category</div>
                      <div>
                        <input type="text" id="" class="input-box-3 width100">
                      </div>
                    </div>
                    <div class="col-sm-3 form-group">
                      <div class="label-text">Business Sub-Category</div>
                      <div>
                        <input type="text" id="" class="input-box-3 width100">
                      </div>
                    </div>
                    <div class="col-sm-3 form-group">
                      <div class="label-text">Unit</div>
                      <div>
                        <input type="text" id="" class="input-box-3 width100">
                      </div>
                    </div>

                </div>
                <div class="row text-align-center">
                  <a href="#" style="color: #258ee8; font-size: 1.3em; margin: 0 10px;" id="btn_cancelfilter">Cancel</a>
                  <input type="button" class="btn-blck1" id="btn_search" value="Apply Filter">
                </div>
                </div>



            </div>

            <div id="column_tab" class="display-none filter width50 column-tab-box">
              <div>
                <label id="lbl_filtercolumnscount">6 out of 15</label>
                <label id="lbl_filtercolumnscount1">5 out of 13</label>

              </div>
              <div class="column-tab1">
                <div id="dv_nfcfiltercolumns">
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" disabled="disabled" checked="checked"
                      id="0" class="cursor-pointer"><label for="0" class="cursor-pointer">Serial
                      No.</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" disabled="disabled" checked="checked"
                      id="1" class="cursor-pointer"><label for="1" class="cursor-pointer">Name of
                      Donor</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="2"
                      onclick="checkGridColumn(2,this)" id="2" checked="checked" class="cursor-pointer"><label for="2"
                      class="cursor-pointer">Transaction Date</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="3"
                      onclick="checkGridColumn(3,this)" id="3" checked="checked" class="cursor-pointer"><label for="3"
                      class="cursor-pointer">Donated Amount</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="4"
                      onclick="checkGridColumn(4,this)" id="4" class="cursor-pointer"><label for="4" class="cursor-pointer">Transaction
                      No.</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="5"
                      onclick="checkGridColumn(5,this)" id="5" class="cursor-pointer"><label for="5" class="cursor-pointer">Cheque
                      No.</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="6"
                      onclick="checkGridColumn(6,this)" id="6" class="cursor-pointer"><label for="6" class="cursor-pointer">Donation
                      Nature</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="7"
                      onclick="checkGridColumn(7,this)" id="7" class="cursor-pointer"><label for="7" class="cursor-pointer">Payment
                      Mode</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="8"
                      onclick="checkGridColumn(8,this)" id="8" class="cursor-pointer"><label for="8" class="cursor-pointer">Financial
                      Year</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="9"
                      onclick="checkGridColumn(9,this)" id="9" class="cursor-pointer"><label for="9" class="cursor-pointer">Contact
                      No</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="10"
                      onclick="checkGridColumn(10,this)" id="10" class="cursor-pointer"><label for="10"
                      class="cursor-pointer">Address</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="11"
                      onclick="checkGridColumn(11,this)" id="11" class="cursor-pointer"><label for="11" class="cursor-pointer">Type of
                      ID</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="12"
                      onclick="checkGridColumn(12,this)" id="12" checked="checked" class="cursor-pointer"><label for="12"
                      class="cursor-pointer">PAN/Aadhaar No.</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="13"
                      onclick="checkGridColumn(13,this)" id="13" class="cursor-pointer"><label for="13" class="cursor-pointer">Email
                      Id</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" disabled="disabled" checked="checked"
                      id="14" class="cursor-pointer"><label for="14" class="cursor-pointer">Action</label></div>
                </div>
                <div id="dv_fcfiltercolumns">
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" disabled="disabled" checked="checked"
                      id="0" class="cursor-pointer"><label for="0" class="cursor-pointer">Serial
                      No.</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" disabled="disabled" checked="checked"
                      id="1" class="cursor-pointer"><label for="1" class="cursor-pointer">Name of
                      Donor</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="2"
                      onclick="checkGridColumn1(2,this)" id="2" checked="checked" class="cursor-pointer"><label for="2"
                      class="cursor-pointer">Transaction Date</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="3"
                      onclick="checkGridColumn1(3,this)" id="3" checked="checked" class="cursor-pointer"><label for="3"
                      class="cursor-pointer">Donated Amount</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="4"
                      onclick="checkGridColumn1(4,this)" id="4" class="cursor-pointer"><label for="4" class="cursor-pointer">Transaction
                      No.</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="5"
                      onclick="checkGridColumn1(5,this)" id="5" class="cursor-pointer"><label for="5" class="cursor-pointer">Cheque
                      No.</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="6"
                      onclick="checkGridColumn1(6,this)" id="6" class="cursor-pointer"><label for="6" class="cursor-pointer">Donation
                      Nature</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="7"
                      onclick="checkGridColumn1(7,this)" id="7" class="cursor-pointer"><label for="7" class="cursor-pointer">Payment
                      Mode</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="8"
                      onclick="checkGridColumn1(8,this)" id="8" class="cursor-pointer"><label for="8" class="cursor-pointer">Financial
                      Year</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="9"
                      onclick="checkGridColumn1(9,this)" id="9" class="cursor-pointer"><label for="9" class="cursor-pointer">Contact
                      No</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="10"
                      onclick="checkGridColumn1(10,this)" id="10" class="cursor-pointer"><label for="10"
                      class="cursor-pointer">Address</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" data-value="11"
                      onclick="checkGridColumn1(11,this)" id="11" class="cursor-pointer"><label for="11" class="cursor-pointer">Email
                      Id</label></div>
                  <div class="col-sm-4 text-overflow-ellipsis padding8"><input type="checkbox" disabled="disabled" checked="checked"
                      id="12" class="cursor-pointer"><label for="12" class="cursor-pointer">Action</label></div>
                </div>


                <div class="clear-both"></div>
                </div>

              <div class="col-sm-6 padding-zero">
                <a href="#" class="col-reset-btn" id="lnk_resetcolumnfilter">Reset</a>
                <a href="#" class="col-reset-btn" id="lnk_resetcolumnfilter1">Reset</a>

              </div>
              <div class="col-sm-6 text-align-right padding-zero">
                <a href="#" class="col-cancel-btn" id="lnk_cancelcolumnfilter">Cancel</a>
              </div>
              <div class="clear-both"></div>
              <div class="clear-both"></div>
              </div>

          </div>
          </div>

        <div>
          <div class="position-relative">
            <button type="button" id="btn_clear_filter" class="clear-filter-btn"><i class="fas fa-filter"></i>Clear
              Filters</button>
            <div class="page-filter">
              Page Size:
              <select class="select-box-3 padding8">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                <option value="200">200</option>
                <option value="1250">Select All</option>

              </select>
              </div>
              </div>

          <div id="tabs">

            <ul>
              <li><a href="#tabs-2" id="tab_service">Business Category</a></li>
              <li><a href="#tabs-3" id="tab_serviceType">Business Sub-Category</a></li>
              <li><a href="#tabs-1" id="tab_serviceSubType">Products</a></li>


            </ul>

            <div id="tabs-2">
              <div id="MappedGrid2"></div>
            </div>

            <div id="tabs-3">
              <div id="MappedGrid3"></div>
            </div>
            <div id="tabs-1">
              <div id="MappedGrid"></div>
            </div>

          </div>
          <div class="clear-both-5"></div>


        </div>


      </div>

      <div class="clear-both"></div>

    </div>
    <div class="clear-both"></div>
  </div>
  <div class="modal fade" id="dv_addService" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add/Edit New Product</h4>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="no-more-tables">
              <table class="col-sm-12 table-bordered table-condensed ">
                <colgroup>
                  <col style="background-color: rgb(243,243,243); width: 20%;" />
                  <col style="background-color: rgb(255,255,255); width: 30%;" />
                  <col style="background-color: rgb(243,243,243); width: 20%;" />
                  <col style="background-color: rgb(255,255,255); width: 30%;" />
                </colgroup>
                <tbody>

                  <tr>
                    <td>
                      Product Name <span>*</span>

                    </td>
                    <td>
                      <input type="text" id="" class="input-box-3 width100 " />
                    </td>
                    <td>
                      Business Category <span>*</span>

                    </td>
                    <td>
                      <select class="select-box-3 padding8 width100">
                        <option value="10">Input Business</option>
                        <option value="25">Output Business</option>
                        <option value="50">TGT Services</option>

                      </select>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Business Sub-Category <span>*</span>

                    </td>
                    <td>
                      <select class="select-box-3 padding8 width100">
                        <option value="10">Goat Feed/ Feed Mill</option>
                        <option value="25">Kid Nursery</option>
                        <option value="50">Livestock Input Shop</option>

                      </select>
                    </td>
                    <td>
                      Selling Price/Unit <span>*</span>

                    </td>
                    <td>
                      <input type="text" id="" class="input-box-3 width100 " />
                    </td>


                  </tr>
                  <tr>
                    <td>Unit</td>
                    <td><button class="btn-orange" data-toggle='modal' data-target='#dv_addUnit'>Edit Unit</button>
                      <span style="color:blue;">1 PIECES 10 KILOGRAMS</span>
                    </td>
                    <td>
                      Margin <span>*</span>

                    </td>
                    <td>
                      <input type="text" id="" class="input-box-3 width100 " />
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Status <span>*</span>

                    </td>
                    <td>
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                    </td>


                  </tr>



                  <tr>
                    <td colspan="4" class="text-align-center back-white" align="center">
                      <input type="button" value="Save" class="btn-blck1" />
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="clear-both-5"></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dv_addUnit" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Select Unit</h4>
        </div>
        <div class="modal-body">
          <div class="position-relative">
            <div>

              <div class="float-left padding-10 width100">
                <div class="float-left width40 margin-right-10px">
                  <div class="font-weight-bold">BASE UNIT <span>*</span></div>
                  <div class="clear-both-5"></div>
                  <div>
                    <select class="select-box-3 padding-10 width100">
                      <option>None</option>
                      <option>Bottles (Btl)</option>
                      <option>Box (Box)</option>
                      <option>Bundles (Bdl)</option>
                      <option>Cans (Can)</option>
                      <option>Cartons (Ctn)</option>
                      <option>Dozens (Dzn)</option>
                      <option>Grams (Gm)</option>
                      <option>Kilograms (Kg)</option>
                      <option>Litre (Ltr)</option>
                      <option>Meters (Mtr)</option>
                      <option>Millilitre (Ml)</option>
                      <option>Numbers (Nos)</option>
                      <option>Packs (Pac)</option>
                      <option>Pairs (Prs)</option>
                      <option>Pieces (Pcs)</option>
                      <option>Quintal Qtl)</option>
                      <option>Rolls (Rol)</option>
                      <option>Square Feet (Sqf)</option>
                      <option>Square Meters (Sqm)</option>
                      <option>Tablets (Tbs)</option>

                    </select>
                  </div>
                </div>
                <div class="float-left width40">
                  <div class="font-weight-bold">SECONDARY UNIT</div>
                  <div class="clear-both-5"></div>
                  <div>
                    <select class="select-box-3 padding-10 width100">
                      <option>None</option>
                      <option>Bottles (Btl)</option>
                      <option>Box (Box)</option>
                      <option>Bundles (Bdl)</option>
                      <option>Cans (Can)</option>
                      <option>Cartons (Ctn)</option>
                      <option>Dozens (Dzn)</option>
                      <option>Grams (Gm)</option>
                      <option>Kilograms (Kg)</option>
                      <option>Litre (Ltr)</option>
                      <option>Meters (Mtr)</option>
                      <option>Millilitre (Ml)</option>
                      <option>Numbers (Nos)</option>
                      <option>Packs (Pac)</option>
                      <option>Pairs (Prs)</option>
                      <option>Pieces (Pcs)</option>
                      <option>Quintal Qtl)</option>
                      <option>Rolls (Rol)</option>
                      <option>Square Feet (Sqf)</option>
                      <option>Square Meters (Sqm)</option>
                      <option>Tablets (Tbs)</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="clear-both-5"></div>
              <div class="font-weight-bold padding-10">Conversion Rates</div>
              <div class="clear-both-5"></div>
              <div class="padding-10" style="max-height:200px; overflow-y:scroll;">

                <div class="float-left width100">
                  <div class="float-left margin-right-10px width40 padding-10">
                    <input type="radio" value="1" style="width:25px; height:12px;" class="float-left" />
                    <div class="float-left width80">1 PIECES</div>
                    <div>=</div>
                  </div>
                  <div class="float-left width50 padding5"><input type="text" class="width50 input-box-3" /> KILOGRAMS
                  </div>
                </div>
                <div class="clear-both"></div>
                <div class="float-left width100">
                  <div class="float-left margin-right-10px width40 padding-10">
                    <input type="radio" value="1" style="width:25px; height:12px;" class="float-left" />
                    <div class="float-left width80">1 PIECES</div>
                    <div>=</div>
                  </div>
                  <div class="float-left width50 padding-10">2 KILOGRAMS</div>
                </div>
                <div class="clear-both"></div>
                <div class="float-left width100">
                  <div class="float-left margin-right-10px width40 padding-10">
                    <input type="radio" value="1" style="width:25px; height:12px;" class="float-left" />
                    <div class="float-left width80">2 PIECES</div>
                    <div>=</div>
                  </div>
                  <div class="float-left width50 padding-10">5 KILOGRAMS</div>
                </div>
                <div class="clear-both"></div>
                <div class="float-left width100">
                  <div class="float-left margin-right-10px width40 padding-10">
                    <input type="radio" value="1" style="width:25px; height:12px;" class="float-left" />
                    <div class="float-left width80">3 PIECES</div>
                    <div>=</div>
                  </div>
                  <div class="float-left width50 padding-10">8 KILOGRAMS</div>
                </div>
                <div class="clear-both"></div>
                <div class="float-left width100">
                  <div class="float-left margin-right-10px width40 padding-10">
                    <input type="radio" value="1" style="width:25px; height:12px;" class="float-left" />
                    <div class="float-left width80">8 PIECES</div>
                    <div>=</div>
                  </div>
                  <div class="float-left width50 padding-10">10 KILOGRAMS</div>
                </div>
              </div>

            </div>
            <div class="width100 text-align-center padding-10"><input type="button" value="Save" class="btn-blck1" />
            </div>
          </div>

        </div>
        <div class="clear-both-5"></div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="dv_addOrg" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add/Edit Business Type</h4>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="no-more-tables">
              <table class="col-sm-12 table-bordered table-condensed ">
                <colgroup>
                  <col style="background-color: rgb(243,243,243); width: 20%;" />
                  <col style="background-color: rgb(255,255,255); width: 30%;" />
                  <col style="background-color: rgb(243,243,243); width: 20%;" />
                  <col style="background-color: rgb(255,255,255); width: 30%;" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>
                      Business Type Name <span>*</span>

                    </td>
                    <td>
                      <input type="text" id="" class="input-box-3 width100 " />
                    </td>
                    <td>
                      Description

                    </td>
                    <td>
                      <input type="text" id="" class="input-box-3 width100 " />
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Status <span>*</span>

                    </td>
                    <td>
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                    </td>

                    <td colspan="2">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-align-center back-white" align="center">
                      <input type="button" value="Save" class="btn-blck1" />
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="clear-both-5"></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="dv_addBusinessSubCategory" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add/Edit Business Sub-Category</h4>
        </div>
        <div class="modal-body">
          <div class="">
            <div class="no-more-tables">
              <table class="col-sm-12 table-bordered table-condensed ">
                <colgroup>
                  <col style="background-color: rgb(243,243,243); width: 20%;" />
                  <col style="background-color: rgb(255,255,255); width: 30%;" />
                  <col style="background-color: rgb(243,243,243); width: 20%;" />
                  <col style="background-color: rgb(255,255,255); width: 30%;" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>
                      Business Sub Category Name<span>*</span>

                    </td>
                    <td>
                      <input type="text" id="" class="input-box-3 width100 " />
                    </td>
                    <td>
                      Business Category

                    </td>
                    <td>
                      <select class="select-box-3 padding8 width100">
                        <option value="10">Input Business</option>
                        <option value="25">Output Business</option>
                        <option value="25">TGT Services</option>

                      </select>
                    </td>
                  </tr>

                  <tr>
                    <td>
                      Status <span>*</span>

                    </td>
                    <td>
                      <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                    </td>

                    <td colspan="2">
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-align-center back-white" align="center">
                      <input type="button" value="Save" class="btn-blck1" />
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
        <div class="clear-both-5"></div>
      </div>
    </div>
  </div>


<div class="clear-both-15">&nbsp;</div>
</div>

<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://cdn.canvasjs.com/jquery.canvasjs.min.js"></script>