.jsgrid-pager {
  right: 150px;
  top: 19px;
}

.jsgrid-pager-container {
  display: block !important;
}

.jsgrid {
  position: static !important;
}

#dv_fcfiltercolumns, #lbl_filtercolumnscount1, #lnk_resetcolumnfilter1, #btn_clear_filter {
  display: none;
}

a.collapsed > span.expandedIndicator, a:not(.collapsed) > span.collpasedIndicator {
  display: none;
}
.spinner-container {
  text-align: center;
  padding: 20px;
}

.loading-spinner {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  animation: spin 0.8s linear infinite;
  margin: auto;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
