<title>
	Digital Empowerment Foundation
</title>
    <meta charset="utf-8" />
	<meta name="google" content="notranslate" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="Stylesheet" href="../../../assets/css/leave.style.css" />
	<link rel="Stylesheet" href="../../../assets/css/common.css" />
	<link rel="Stylesheet" href="../../../assets/css/header.css" />
	<link rel="Stylesheet" href="../../../assets/css/top_menu.css" />
	<link rel="Stylesheet" href="../../../assets/css/left_menu.css" />
	<link rel="Stylesheet" href="../../../assets/css/footer.css" /> 
    <div class="layout-container">
        <!-- Header -->
        <app-header></app-header>
      
        <!-- Main Content with Side Menu and Page Content -->
        <div class="main-content-container">
          <!-- Side Menu -->
          <app-left-nav></app-left-nav>
      
          <!-- Main Content Area -->
          <div class="content">
            <app-root></app-root>
          </div>
        </div>
      
        <!-- Footer -->
        <app-footer></app-footer>
      </div>