<link rel="Stylesheet" href="../../../assets/css/mediaqueries.css" />
<!-- <link rel="Stylesheet" href="css/bootstrap.min.css" /> -->
<!-- <link rel="stylesheet" href="../../../assets/css/fontawesome.css" /> -->
<link rel="Stylesheet" href="../../../assets/css/all.css" />
<link rel="Stylesheet" href="../../../assets/css/common.css"/>
<link rel="Stylesheet" href="../../../assets/css/header.css"/>
<link rel="Stylesheet" href="../../../assets/css/left_menu.css"/>
<link rel="Stylesheet" href="../../../assets/css/top_menu.css"/>
<link rel="Stylesheet" href="../../../assets/css/footer.css"/>
<script type="text/javascript" src="js/external/Grid/jsgrid.min.js"></script>

<link rel="Stylesheet" href="../../../assets/css/jsgrid.css"/>
<link rel="Stylesheet" href="../../../assets/css/jsgrid-theme.min.css"/>
<link rel="Stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" /> 
<app-header></app-header>
<app-side-nav></app-side-nav>
<app-footer></app-footer>