<link rel="Stylesheet" href="../../../assets/css/mediaqueries.css" />
<!-- <link rel="Stylesheet" href="css/bootstrap.min.css" /> -->
<!-- <link rel="stylesheet" href="../../../assets/css/fontawesome.css" /> -->
<link rel="Stylesheet" href="../../../assets/css/all.css" />
<link rel="Stylesheet" href="../../../assets/css/common.css"/>
<link rel="Stylesheet" href="../../../assets/css/header.css"/>
<link rel="Stylesheet" href="../../../assets/css/left_menu.css"/>
<link rel="Stylesheet" href="../../../assets/css/top_menu.css"/>
<link rel="Stylesheet" href="../../../assets/css/footer.css"/>
<script type="text/javascript" src="js/external/Grid/jsgrid.min.js"></script>

<link rel="Stylesheet" href="../../../assets/css/jsgrid.css"/>
<link rel="Stylesheet" href="../../../assets/css/jsgrid-theme.min.css"/>
<link rel="Stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" /> 

<div class="container-fluid header back-header" style="background: #311c1b; margin-bottom: 20px;">
    <div class="row">
        <div style="width:50%; float:left;"><a href="#"><img style="max-width:100%;" src="../../../assets/images/logowhite.png"
                    alt="" /></a></div>

        <div style="width:50%; float:left; position:relative;text-align:right;">

            <div  style="width:100%; float:left;" class="profile-box-div">
                <div class="text-overflow letter-spacing-0 font-color-white" style="float:left; width:82%;">Welcome !
                    <span class="span-color emp-name-color"><span>Azeem Khan</span></span></div>
                <div (click)="openProfile()" style="float: left; width: 16%; margin-top: 2vw; text-align: left; margin-left: 2%;"><img
                        class="profile-img" src="../../../assets/images/profile-pic.png" style="border-width:0px;" /></div>
            </div>
            <div *ngIf="isProfileOpen" class="profile-box" style="display:{{displayProfile}}">
                <div class="col-md-12 font-color-black" style="font-size: 17px;"><span>Azeem Khan</span></div>
                <div class="col-md-12 emp-email-color"><span>{{email}}</span></div>

                <div class="col-md-12">

                    <div class="col-md-6 padding-zero">
                        <button type="button" class="btn-blck" data-bs-toggle="modal"
                            data-bs-target="#dv_resetSuperAdmin">Reset Password</button>

                    </div>

                    <div class="col-md-2">&nbsp;</div>

                    <div class="col-md-4"  (click)="logout()">
                        <a class="btn-blck">Logout</a>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
