.footer {
    /*border-left: 15px solid #e3e2df;
    border-right: 15px solid #e3e2df;
    border-top: 15px solid #e3e2df;*/
    color: #a9a9a9;
    font-family: Arial;
    background: #000;
    text-align: left !important;
    padding:10px;
}
.footer-link {
    color: rgb(214,212,206) !important;
    line-height: 23px;
}

a.footer-link:before {
    content: "\00bb ";
}

.footer-link:hover {
    color: #fff!important;
}
.location {
    line-height: 23px;
}
.social-icon{
    max-width:3em;
}
.copy-right {
    width: 100%;
    text-align: center;
    font-size: .8em;
    margin: 10px 0px;
}
.margin-top-15{
   margin-top:-15px;
}