.jsgrid-pager {
    right: 100px;
    top: 18px;
}

.jsgrid-pager-container {
    display: block !important;
}

.jsgrid {
    position: static !important;
}

#dv_fcfiltercolumns, #lbl_filtercolumnscount1, #lnk_resetcolumnfilter1, #btn_clear_filter {
    display: none;
}

a.collapsed > span.expandedIndicator, a:not(.collapsed) > span.collpasedIndicator {
    display: none;
}