<div>
    <section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img"><img src="../../../assets/images/logowhite.png" class="div_logo" /></div>
						<div class="login-wrap p-4 p-md-5">
			      	
							<form action="#" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Username <span>*</span></label>
			      			<input type="text" class="form-control" placeholder="Username" required>
			      		</div>
		            <div class="form-group mb-3">
		            	<label class="label" for="password">Password <span>*</span></label>
		              <input type="password" class="form-control" placeholder="Password" required>
		            </div>
		            <div class="form-group">
		            	<a (click)="onLogin()" style="color:#fff!important;"><div style="background:#f58634!important;width:100%; padding:0.375rem 0.75rem" align="center">Sign In</div></a>
		            </div>
		            
		          </form>
		          
		        </div>
		      </div>
				</div>
			</div>
		</div>
		<div style="clear:both; height:25px;"></div>
		<div align="center">Powered by: Digital Empowerment Foundation</div>
	</section>
</div>>
