
        <div class="col-md-10 float-left">

            <div class="col-md-12">


                <div class="back-internal-page  width100">

                    <div class="heading-title">{{companyName}}</div>
                    <div class="clear-both-20"></div>
                    <div id="div_dashboard">
                        <div class="col-md-6 float-left">
                            <div id="divOccupBen" class="width90">
                                <canvas baseChart [data]="OccBenChartData" [type]="occupationChartType" [options]="chartOptions"  [labels]="occupationChartLabels">
                                </canvas>
                            </div>
                        </div>
                        
                        <div class="col-md-6 float-left">
                            <div id="divStateBen"  class="width90">
                                <canvas baseChart [data]="StateBenChartData" [type]="StateBenChartType" [options]="StateBenChartOptions">
                                </canvas>
                            </div>
                        </div>
                        <div class="clear-both-20"></div>
                        
                        <div class="col-md-6 float-left">
                            <div id="divGenBen" class="width90">
                                <canvas baseChart [data]="GenBenChartData" [type]="GenBenChartType" [options]="GenBenChartOptions">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-md-6 float-left">
                            <div id="divProjBen" class="width90">
                                <canvas baseChart [data]="chartData" [type]="chartType" [options]="chartOptions">
                                </canvas>
                            </div>
                            
                        </div>
                        <div class="clear-both-20"></div>
                        <!-- <div class="col-md-6">
                            <div id="Users" style="height: 300px; width: 100%;"></div>
                        </div> -->
                        <div class="col-md-6 float-left">
                            <div id="divAllBen" class="width90"></div>
                        </div>
                        <div class="clear-both-20"></div>
                    </div>


                    <div class="clear-both"></div>

                </div>
            </div>


        </div>



   