<div class="container-fluid">
    <div class="row display-flex">

        <div class="col-md-10">

            <div class="col-md-12" style="height:100%;">


                <div class="width100">

                    <div class="heading-title">Inomy Media Pvt Ltd</div>
                    <div class="clear-both-20"></div>
                    <div id="div_dashboard">
                        <div class="col-md-4">
                            <div id="divProjBen" style="height: 300px!important; width: 80%!important;">
                                <canvas style="height: 280px; width: 340px;" baseChart [data]="chartData" [type]="chartType" [options]="chartOptions">
                                </canvas>
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div id="divStateBen" style="height: 300px!important; width: 80%!important;">
                                <canvas style="height: 280px; width: 340px;" baseChart [data]="StateBenChartData" [type]="StateBenChartType" [options]="StateBenChartOptions">
                                </canvas>
                            </div>
                        </div>
                        <div class="clear-both-20"></div>
                        <div class="col-md-4">
                            <div id="divGenBen" style="height: 300px!important; width: 100%!important;">
                                <canvas style="height: 280px; width: 340px;" baseChart [data]="GenBenChartData" [type]="GenBenChartType" [options]="GenBenChartOptions">
                                </canvas>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="divOccupBen" style="height: 300px; width: 100%;">
                                <canvas style="height: 280px; width: 340px;" baseChart [data]="OccBenChartData" [type]="OccBenChartType" [options]="OccBenChartOptions">
                                </canvas>
                            </div>
                        </div>
                        <div class="clear-both-20"></div>
                        <!-- <div class="col-md-6">
                            <div id="Users" style="height: 300px; width: 100%;"></div>
                        </div> -->
                        <div class="col-md-6">
                            <div id="divAllBen" style="height: 300px; width: 100%;"></div>
                        </div>
                        <div class="clear-both-20"></div>
                    </div>


                    <div class="clear-both"></div>

                </div>
            </div>


        </div>



    </div>


</div>