<div class="col-md-2 font-color-white padding-zero navbar-inverse align-item" id="left-menu">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" onclick="setDivID('collapseOne');CollapseLeftTabs();">
                        
                        &nbsp; COMPANY SECTION</a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse">
                <div class="panel-body">
                    <table class="table">
                        
                        <tbody><tr>
                            <td>
                                <a href="organisation.html" class="font-color-black" onclick="setDivID('collapseOne')">
                                    <img class="max-width25" src="images/links-arrow.png">
                                    &nbsp; View All Companies</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="project.html" class="font-color-black" onclick="setDivID('collapseOne')">
                                    <img class="max-width25" src="images/links-arrow.png">
                                    &nbsp; View All Projects</a>
                            </td>
                        </tr>
                        
                    </tbody></table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" onclick="setDivID('collapseTwo');CollapseLeftTabs();">
                        
                        &nbsp; USERS SECTION</a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tbody><tr>
                            <td>
                                <a href="projectofficer.html" class="font-color-black" onclick="setDivID('collapseTwo')">
                                    <img class="max-width25" src="images/links-arrow.png">
                                    &nbsp; View All Project Officers</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="sp.html" class="font-color-black" onclick="setDivID('collapseTwo')">
                                    <img class="max-width25" src="images/links-arrow.png">
                                    &nbsp; View All SPs</a>
                            </td>
                        </tr>
                        
                    </tbody></table>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading panel-title">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" onclick="setDivID('collapseThree');CollapseLeftTabs();">
                        
                        &nbsp; REPORTS SECTION</a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body">
                    <table class="table">
                        <tbody><tr>
                            <td>
                                <a href="#" class="font-color-black" onclick="setDivID('collapseThree')">
                                    <img class="max-width25" src="images/links-arrow.png">
                                    &nbsp;  Analytic Report</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#" class="font-color-black" onclick="setDivID('collapseThree')">
                                    <img class="max-width25" src="images/links-arrow.png">
                                    &nbsp; Map Based Report</a>
                            </td>
                        </tr>
                        
                    </tbody></table>
                </div>
            </div>
        </div>

        
    </div>
</div>