
           <div class="col-md-2 font-color-white padding-zero navbar-inverse align-item float-left" id="left-menu">
            <div class="sidebar">
                <div *ngFor="let item of menuItems; let i = index" class="accordion-section">
                  <button (click)="toggleSection(i)" class="accordion-header">
                    {{ item.title }}
                  </button>
                  <div *ngIf="activeSection === i" class="accordion-content">
                    <ul>
                      <li *ngFor="let link of item.links">
                        <img src="../../../assets/images/links-arrow.png" class="arrow-link-li" /> 
                        <a id="{{item.title}}" [routerLink]="link.path">{{ link.label }}</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
    