.sidebar {
 /* width: 250px;*/
 
  color: #fff;
  padding: 0;
}

.accordion-section {
  margin-bottom: 5px;
}

.accordion-header {
  width: 100%;
  background-color: #444;
  color: #fff;
  padding: 15px;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
 /* font-size: 16px;*/
  transition: background-color 0.2s ease;
}

.accordion-header:hover {
  background-color: #555;
}

.accordion-content {
  background-color: #555;
  overflow: hidden;
  transition: max-height 0.2s ease;
  
}

.accordion-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.accordion-content li {
  padding: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.accordion-content a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
  text-transform: capitalize;
}

.accordion-content a:hover {
  
}
.accordion-header {
  background-color: #717171 !important;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px; 
}
.accordion-content {
  background-color: #fff;   /* White background */
  color: #000;              /* Black text */
  text-transform: uppercase;
  border:none;
  
}

.accordion-content:not(.collapsed) {
  /* Slightly darker for expanded item */
  color: #000;
}
.accordion-content > li {
  background-color: #fff;   /* White background */
  color: #000;              /* Black text */
  
  border: none;
}

.arrow-link-li{
  margin-right:5px;
}