<div class="col-md-10 float-left">

  <div class="back-internal-page width100">
    <div class="heading-title">RWE</div>
    <div class="clear-both-20"></div>
    <div class="float-right">
      <div class="float-left" style="margin-top: 4px;">
        <button type="button" title="Download Report in XLS" id="btn_exporttoexcel" class="border-none"
                (click)="exportToExcel()">
          <i class="fa fa-file-excel-o file-icon" style="font-size: 30px;" aria-hidden="true"></i>
        </button>

      </div>
      <div class="display-inline">
      
        <button type="button" id="btn_openModal" class="btn-orange" data-bs-toggle="modal" data-bs-target="#addBen" (click)="loadModal('addBen')">
          Add New
          RWE
          </button> <button type="button" id="btn_openModalBusiness" class="btn-orange" data-bs-toggle="modal"
            data-bs-target="#addBusiness" (click)="loadModal('addBusiness')">
            Add Business
        </button>
      </div>


    </div>
    <div class="clear-both-20"></div>

    <div>


      <div>
        <div class="position-relative padding-10-0">
          <div class="col-md-6 padding-zero float-left">
           <input
            type="text" #q
            class="input-box-3 width90 padding-10"
            placeholder="Type to search"
            pInputText
            (input)="onGlobalFilter(q.value)" />
 

            
          </div>
          <div class="col-md-6 padding-zero text-align-right font-size1-1em float-left">
            <div (click)="openFilter()" class="col-md-4 filter float-left {{activeFilter}}" align="center">
              <i class="fa fa-filter awe-filter"></i>Filters <i class="fa fa-caret-down rotate arrow awe-arrow"></i>
            </div>
            <div (click)="openDefault()" class="col-md-4 filter {{activeDefault}} float-left">
              <i class="fa fa-eye awe-filter margin-right-10px"></i>Default View <i class="fa fa-caret-down rotate arrow awe-arrow"></i>
            </div>
            <div (click)="openColumn()" class="col-md-4 filter float-left {{activeColumn}}">
              <i class="fa fa-gear awe-filter margin-right-10px"></i><span id="col-span-box">Columns</span>
              <i class="fa fa-caret-down rotate arrow awe-arrow"></i>
            </div>
          </div>
          <div class="clear-both"></div>

          <div *ngIf="isFilterOpen" id="filter_tab" style="display:{{displayFilter}}"
               class="width100 filter-tab-box">
            <div id="assigned_tab_filter">
              <div class="row">
                <ng-container *ngFor="let col of cols; let i = index">
                  <div class="col-sm-3 form-group" *ngIf="col.search">
                    <div>
                      <div class="label-text">{{ col.header }}</div>
                      <div>
                        <input type="text" [(ngModel)]="filters[col.field]"
                               class="input-box-3 width100"
                               placeholder="Search {{ col.header }}" />
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>

              <div style="margin-top: 20px;"></div>
              <div class="row text-align-center">

                <div class="col-md-6 float-left text-align-right">
                  <a style="color: #258ee8; font-size: 1.3em; margin: 0 10px;" id="btn_cancelfilter">
                    Cancel
                  </a>

                  <!-- <div class="col-md-6 float-left text-align-left"> -->
                  <input type="button" class="btn-blck1" value="Apply Filter" (click)="applyFilter()">
                  <!-- </div> -->
                </div>





              </div>





            </div>

          </div>
          <div *ngIf="isColumnOpen" class="filter width50 column-tab-box" style="display:{{displayColumn}}">
            <div>
              <label id="lbl_filtercolumnscount">6 out of 15</label> Column <div class="float-right">
                <a href="#" class="col-reset-btn" id="lnk_resetcolumnfilter">Reset</a>
              </div>
              <label id="lbl_filtercolumnscount1">5 out of 13</label>
              <div class="float-right">
                <a href="#" class="col-reset-btn"
                   id="lnk_resetcolumnfilter1">Reset</a>
              </div>

            </div>
            <div class="column-tab1">
              <div id="dv_nfcfiltercolumns">
                <!-- <p-dialog [(visible)]="showColumnModal" header="Filter Columns" [modal]="true" [closable]="true" [dismissableMask]="true"> -->
                <div *ngIf="cols">
                  <ng-container *ngFor="let col of cols; let i = index">
                    <div *ngIf="col.showInGrid">
                      <div class="col-sm-4 float-left text-overflow-ellipsis padding8">

                        <p-checkbox class="cursor-pointer" [(ngModel)]="col.visible"
                                    [binary]="true" (onChange)="columnVisibilityChange()"></p-checkbox>
                        <label class="ml-2" style="padding-left: 10px;">
                          {{
 col.header
                          }}
                        </label>
                      </div>
                    </div>

                  </ng-container>
                </div>
              </div>


              <div class="clear-both"></div>



            </div>
          </div>

          <div>
            <!-- <div class="position-relative">
              <button type="button" id="btn_clear_filter" class="clear-filter-btn">
                <i class="fas fa-filter"></i>Clear Filters
              </button>
              <div class="page-filter">
                <select class="select-box-3 padding8">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="200">200</option>
                  <option value="1250">Select All</option>
                </select>
              </div>
            </div> -->

            <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content"
                 style="margin-top: 10px;">
              <ul role="tablist"
                  class="ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header">
                <li role="tab" tabindex="0"
                    class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active"
                    aria-controls="tabs-2" aria-labelledby="tab_service" aria-selected="true"
                    aria-expanded="true">
                  <a id="tab_service" role="presentation" tabindex="-1" class="ui-tabs-anchor">
                    All
                    {{pageHead}}
                  </a>
                </li>
              </ul>
              <div id="tabs-1" aria-labelledby="tab_serviceType" role="tabpanel"
                   class="ui-tabs-panel ui-corner-bottom ui-widget-content width100" aria-hidden="true"
                   style="display:inline-block;">
                <div id="MappedGrid"></div>
                <div class="datatable-container">

                  <p-table #dt [value]="filteredData" [paginator]="true" [rows]="20"
                           [responsiveLayout]="'scroll'" [globalFilterFields]="globalFilterFields"
                           [rowsPerPageOptions]="[5, 10, 20]" [loading]="loading">
                    <ng-template pTemplate="header">
                      <tr>
                        <ng-container *ngFor="let col of cols">
                          <th *ngIf="col.visible" [style.textAlign]="'center'"
                              [style.width]="col.width" [pSortableColumn]="col.field">
                            {{ col.header }}
                            <!-- <p-sortIcon [field]="col.field"></p-sortIcon> -->
                          </th>
                        </ng-container>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData>
                      <tr>
                        <ng-container *ngFor="let column of cols">
                          <td *ngIf="column.visible" [style.textAlign]="'center'">
                            <!-- Render the profile picture if column.field is 'profilePic' -->
                            <ng-container *ngIf="column.field === 'profilePicture'; else textCell">
                              <img [src]="'data:image/png;base64,' + rowData[column.field]"
                                   alt=""
                                   style="width: 50px; height: 50px; border-radius: 50%;" />
                            </ng-container>
                            <ng-template #textCell>
                              {{ rowData[column.field] }}
                            </ng-template>
                          </td>
                        </ng-container>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingBody">
                      <tr>
                        <td [attr.colspan]="cols.length" style="text-align: center;">
                          <p-progressSpinner></p-progressSpinner>
                          <p>Loading data, please wait...</p>
                        </td>
                      </tr>
                    </ng-template>
                  </p-table>
                </div>
              </div>
            </div>
            <div class="clear-both-5"></div>
          </div>
        </div>
        <div class="clear-both"></div>
        <div class="col-md-12">
          <div class="clear-both-15"></div>
        </div>
        <div class="modal fade" id="addBen" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">

                <button type="button" class="btn-close float-right" data-bs-dismiss="modal" aria-label="Close"></button>
                <h2 class="modal-title">Add New RWE/Beneficiary</h2>
              </div>
              <div class="modal-body">
                <div class="">
                  <div class="no-more-tables">
                    <form [formGroup]="benForm" class="signin-form">
                      <table class="col-sm-12 table-bordered table-condensed" cellpadding="5">
                        <colgroup>
                          <col style="background-color: rgb(243,243,243); width: 20%;" />
                          <col style="background-color: rgb(255,255,255); width: 30%;" />
                          <col style="background-color: rgb(243,243,243); width: 20%;" />
                          <col style="background-color: rgb(255,255,255); width: 30%;" />
                        </colgroup>
                        <tbody>
                          <tr>
                            <td class="section-heading" colspan="4">Personal Details</td>
                          </tr>
                          <tr>
                            <td>
                              First Name <span>*</span>
                            </td>
                            <td>
                              <div class="input-field" [class.error]="benForm.controls['firstname'].dirty && benForm.hasError('required', 'firstname')">
                                <input type="text" formControlName="firstname" class="input-box-3 width100 " placeholder="First Name" />
                              </div>
                              <small *ngIf="benForm.controls['firstname'].dirty 	&& benForm.hasError('required', 'firstname')" class="text-danger">
                                First name is required
                              </small>
                            </td>
                            <td>
                              Middle Name
                            </td>
                            <td><input type="text" formControlName="middlename" class="input-box-3 width100" placeholder="Middle Name"> </td>
                          </tr>

                          <tr>
                            <td>
                              Last Name
                            </td>
                            <td>
                              <input type="text" formControlName="lastname" class="input-box-3 width100" placeholder="Last Name">
                            </td>

                            <td>
                              Father's Name <span>*</span>

                            </td>
                            <td>
                              <input type="text" formControlName="fathersname" class="input-box-3 width100" placeholder="Father's Name" (change)="findFatherDetails()">

                            </td>
                          </tr>
                          <tr>
                            <td>
                              Father's mobile number'
                            </td>
                            <td>
                              <input type="number" formControlName="fathersmobile" class="input-box-3 width100" placeholder="Father's mobile'" (change)="findFatherDetails()">
                            </td>

                            <td>
                              Relationship with father <span>*</span>

                            </td>
                            <td>
                              <input type="text" formControlName="relationship" class="input-box-3 width100" placeholder="Relationship with father">

                            </td>
                          </tr>
                          <tr>
                            <td >
                              Father's details
                            </td>
                            <td colspan="3">
                              <select class="select-box-3 width100" >
                                <option selected>-Select Father's details'-</option>
                                <option *ngFor="let option of familydetails" [id]="option.id" [value]="option.desc">
                                  {{ option.desc }}
                                </option>

                              </select>
                            </td>

                            
                          </tr>
                          <tr>
                            <td>
                              DOB <span>*</span>

                            </td>
                            <td>
                              <input type="date" formControlName="dob" class="input-box-3 width100"
                                     [max]="maxDate" (change)="calculateAge($event)" />
                            </td>
                            <td>
                              <span>Age</span>
                            </td>
                            <td>
                              <input type="text" formControlName="age" class="input-box-3 width100" placeholder="age" readonly>
                            </td>
                          </tr>
                          <tr>
                            <td><label class="form-label">Sex*</label></td>
                            <td>
                              <div>
                                <label *ngFor="let sex of sexOptions">
                                  <input style="margin-left: 5px;"
                                         type="radio"
                                         [id]="'sex_' + sex.id"
                                         formControlName="sexId"
                                         [value]="sex.id" />
                                  {{ sex.name }}
                                </label>
                              </div>
                            </td>
                            <td>
                              Profile Photo

                            </td>
                            <td>
                              <!-- <input type="file" id="txtLogo" class="input-box-3 width100 " /> -->
                              <input type="file" class="input-box-3 width100" formControlName="profilephoto" (change)="onFileSelected($event)" />
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Mobile No. <span>*</span>
                            </td>
                            <td>
                              <div class="input-field" [class.error]="benForm.controls['mobile'].dirty && benForm.hasError('required', 'mobile')">
                                <input type="text" formControlName="mobile" class="input-box-3 width100 " />
                              </div>
                              <small *ngIf="benForm.controls['mobile'].dirty && benForm.hasError('required', 'mobile')" class="text-danger">
                                Mobile number is required
                              </small>
                              <div *ngIf="benForm.get('mobile')?.invalid && benForm.get('mobile')?.touched">

                                <small *ngIf="benForm.get('mobile')?.errors?.['pattern']" class="text-danger">Invalid mobile format.</small>
                              </div>
                            </td>
                            <td>
                              Email
                            </td>
                            <td>
                              <div class="input-field" [class.error]="benForm.controls['email'].dirty && benForm.hasError('required', 'email')">
                                <input type="email" formControlName="email" class="input-box-3 width100 " />
                              </div>
                              <div *ngIf="benForm.get('email')?.invalid && benForm.get('email')?.touched">

                                <small *ngIf="benForm.get('email')?.errors?.['email']" class="text-danger">Invalid email format.</small>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Economic Status

                            </td>
                            <td>
                              <select class="select-box-3 width100" (change)="selectEconomicStatus($event)">
                                <option selected>-Select Economic Status-</option>
                                <option *ngFor="let option of economicStatusData" [id]="option.id" [value]="option.id">
                                  {{ option.name }}
                                </option>

                              </select>
                            </td>
                            <td>Caste </td>
                            <td>
                              <select class="select-box-3 width100" (change)="selectCaste($event)">
                                <option selected>-Select Caste-</option>
                                <option *ngFor="let option of casteData" [id]="option.id" [value]="option.name">
                                  {{ option.name }}
                                </option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td class="section-heading" colspan="4">PROJECT AND ADDRESS DETAILS</td>
                          </tr>
                          <tr>
                            <td>Select Project <span>*</span></td>
                            <td>
                              <select class="select-box-3 width100" formControlName="projectId" (change)="onProjectChange($event)">
                                <option value="" selected>-- Select Project --</option>
                                <option *ngFor="let project of projectList" [id]="project.projectId" [value]="project.projectName">
                                  {{ project.projectName }}
                                </option>
                              </select>
                              <small *ngIf="benForm.controls['projectId'].dirty && benForm.hasError('required', 'projectId')" class="text-danger">
                                Project is required
                              </small>
                            </td>

                            <td>Select SP <span>*</span></td>
                            <td>
                              <select class="select-box-3 width100" formControlName="soochnapreurId">
                                <option value="">-- Select SP --</option>
                                <option *ngFor="let sp of soochnapreurList" [value]="sp.soochnapreneurId">
                                  {{ sp.soochnapreneur }}
                                </option>
                              </select>
                              <small *ngIf="benForm.controls['soochnapreurId'].dirty && benForm.hasError('required', 'soochnapreurId')" class="text-danger">
                                Soochnapreur is required
                              </small>
                            </td>
                          </tr>
                          <tr>
                            <td>Select State <span>*</span></td>
                            <td>
                              <select class="select-box-3 width100" formControlName="stateId" (change)="onStateChange($event)">
                                <option value="">-- Select State --</option>
                                <option *ngFor="let state of states" [value]="state.id">
                                  {{ state.name }}
                                </option>
                              </select>
                            </td>

                            <td>Select District <span>*</span></td>
                            <td>
                              <select class="select-box-3 width100" formControlName="districtId" (change)="onDistrictChange($event)">
                                <option value="">-- Select District --</option>
                                <option *ngFor="let district of districts" [value]="district.id">
                                  {{ district.districtName }}
                                </option>
                              </select>
                            </td>
                          </tr>
                          <tr>
                            <td>Select Block <span>*</span></td>
                            <td>
                              <select class="select-box-3 width100" formControlName="blockId">
                                <option value="">-- Select Block --</option>
                                <option *ngFor="let block of blocks" [value]="block.id">
                                  {{ block.blockName }}
                                </option>
                              </select>
                            </td>
                            <td>
                              <span>Village *</span>
                            </td>
                            <td>
                              <input type="text" formControlName="village" class="input-box-3 width100" placeholder="village">

                            </td>
                          </tr>
                          <tr>
                            <td>
                              Address *

                            </td>
                            <td>
                              <div class="input-field">
                                <input type="text" formControlName="address" class="input-box-3 width100 " />
                              </div>

                            </td>
                            <td>
                              Gram Panchayat *

                            </td>
                            <td>
                              <div class="input-field">
                                <input type="text" formControlName="gramPanchayat" class="input-box-3 width100 " />
                              </div>

                            </td>
                          </tr>
                          <tr>
                            <td class="section-heading" colspan="4">IDENTIFICATION DETAILS</td>
                          </tr>
                          <tr>
                            <td>PAN Card No.</td>
                            <td>
                              <input type="text" formControlName="pan" class="input-box-3 width100" placeholder="PAN">
                            </td>

                            <td>Upload PAN Card (Scanned Copy)</td>
                            <td>
                              <!-- <input type="file" id="txtLogo" class="input-box-3 width100 " /> -->
                              <input type="file" class="input-box-3 width100" formControlName="panimage" (change)="onFileSelected($event)" />
                            </td>
                          </tr>
                          <tr>
                            <td>Aadhar Card No.</td>
                            <td>
                              <input type="text" formControlName="aadhar" class="input-box-3 width100" placeholder="Aadhar">
                            </td>

                            <td>Upload Aadhar Card (Scanned Copy)</td>
                            <td>
                              <input type="file" class="input-box-3 width100" formControlName="aadharimage" (change)="onFileSelected($event)" />
                            </td>
                          </tr>
                          <tr (click)="showAllSchemes()">
                            <td colspan="4" align="right"><div class="btn-blck1 text-align-center" id="btn-scheme">+ Add Government Scheme</div></td>
                          </tr>
                          <tr class="display-none tr-scheme">
                            <td>
                              Name of Scheme
                            </td>
                            <td>
                              <input type="text" class="input-box-3 width100 " formControlName="schemeName" />
                            </td>


                            <td>
                              Total Grant/Loan Amount
                            </td>
                            <td>
                              <input type="text" formControlName="grantAmount" class="input-box-3 width100 " />
                            </td>
                          </tr>
                          <tr class="display-none tr-scheme">
                            <td>
                              Start Date

                            </td>
                            <td>
                              <input type="date" formControlName="schemeStartDate" class="input-box-3 width100"
                                     [max]="maxDate" />
                            </td>


                            <td>
                            </td>
                            <td>
                            </td>
                          </tr>
                          <tr class="display-none tr-scheme">
                            <td>


                              Subsidy Amount
                            </td>
                            <td>
                              <input type="text" id="schemeSubsidyAmount" formControlName="schemeSubsidyAmount" class="input-box-3 width100 " />
                            </td>


                            <td colspan="2">
                            </td>
                          </tr>



                          <tr (click)="showAllUnit()"><td colspan="4" align="right"><div class="btn-blck1 text-align-center" id="btn-unit">+ Additional Fields</div></td></tr>
                          <tr class="display-none tr-unit">
                            <td>
                              Name of Value Chain Business
                            </td>
                            <td>
                              <select name="business_options" id="business_options" class="select-box-3 width100" (change)="onServiceNameChange($event)">
                                <option selected>Select Business Type</option>
                                <option *ngFor="let option of servicePillarData" [id]="option.id" [value]="option.servicePillarId">
                                  {{ option.servicePillarName }}
                                </option>

                              </select>
                            </td>
                            <td>Services/Product</td>
                            <td>
                              <select name="business_products"
                                      id="business_products"
                                      class="select-box-3 width100"
                                      (change)="onServiceProductNameChange($event)">
                                <option value="" selected>Select Product</option>
                                <option *ngFor="let option of serviceName"
                                        [id]="option.id"
                                        [value]="option.servicePillarId">
                                  {{ option.serviceName }}
                                </option>
                              </select>
                            </td>


                          </tr>
                          <tr class="display-none tr-unit">
                            <td>
                              Start Date

                            </td>
                            <td>
                              <input type="date" formControlName="startDate" class="input-box-3 width100"
                                     [max]="maxDate" (change)="calculateAge($event)" />
                            </td>


                            <td>
                            </td>
                            <td>
                            </td>
                          </tr>
                          <tr class="display-none tr-unit">
                            <td>
                              Total Investment
                            </td>
                            <td>
                              <input type="text" id="totalInvestment" class="input-box-3 width100 " />
                            </td>
                            <td>
                              Self Investment
                            </td>
                            <td>
                              <input type="text" id="selfInvestment" class="input-box-3 width100 " />
                            </td>
                          </tr>
                          <tr class="display-none tr-unit">
                            <td>

                              Project Loan (if any)
                            </td>
                            <td>
                              <input type="text" id="projLoan" class="input-box-3 width100 " />
                            </td>


                            <td>
                              Bank Loan (if any)
                            </td>
                            <td>
                              <input type="text" id="" class="input-box-3 width100 " />
                            </td>


                          </tr>
                          <tr class="display-none tr-unit">
                            <td>

                              Collective Loan (if any)
                            </td>
                            <td>
                              <input type="text" id="" class="input-box-3 width100 " />
                            </td>


                            <td>
                              Initial Inventory (Volume/Quantity)
                            </td>
                            <td>
                              <input type="text" id="" class="input-box-3 width100 " />
                            </td>


                          </tr>
                          <tr>
                            <td colspan="4" align="center" class="back-white">
                              <button type="button" (click)="onSave()" class="btn-blck1">Save</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>

              </div>
              <div class="clear-both-5"></div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="addBusiness" role="dialog">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
        
                <button type="button" class="btn-close float-right" data-bs-dismiss="modal" aria-label="Close"></button>
                <h4 class="modal-title">Add Business</h4>
              </div>
              <div class="modal-body">
                <div class="">
                  <div class="no-more-tables">
                    <table class="col-sm-12 table-bordered table-condensed " cellpadding="5">
                      <colgroup>
                        <col style="background-color: rgb(243,243,243); width: 20%;" />
                        <col style="background-color: rgb(255,255,255); width: 30%;" />
                        <col style="background-color: rgb(243,243,243); width: 20%;" />
                        <col style="background-color: rgb(255,255,255); width: 30%;" />
                      </colgroup>
                      <tbody>
        
        
        
        
        
                        <tr>
                          <td colspan="4" align="right">
                            <div class="section-heading text-align-left">Business Details</div>
                          </td>
                        </tr>
                        <tr>
                          <td>Name of RWE</td>
                          <td colspan="3"><select class="select-box-3 width30 margin-right-10px" [(ngModel)]="selectedRwe" (change)="onFilterChange('selectedRwe', $event)" >
  <option value="" disabled selected>Select RWE</option>
  <option *ngFor="let rwe of filteredRwes"
          [id]="rwe.id"
          [value]="rwe.id">
    {{ rwe.rweName }}
  </option>
</select> <input type="text" class="input-box-3 width60" placeholder="Search" [(ngModel)]="rweSearch"
    (input)="filterRwes()"/></td>
        
                        </tr>
                        <tr>
                          <td>Type of Business</td>
                          <td>
                            <select name="business_options" id="business_options" class="select-box-3 width100" [(ngModel)]="selectedRWEBusinessType" (change)="onFilterChange('selectedRWEBusinessType', $event)">
                              <option  value="" disabled selected>Select Business Type</option>
                              <option *ngFor="let filter of rweBusinessType" [value]="filter.id">
                                {{ filter.name }}
                              </option>
                            </select>
                          </td>
                          <td>Business Sub-Category</td>
                          <td>
                            <select name="business_options" id="business_options" class="select-box-3 width100" [(ngModel)]="selectedRWEBusinessSubCatType"   (change)="onFilterChange('selectedRWEBusinessSubCatType', $event)">
                              <option  value="" disabled selected>Select Business</option>
                              <option *ngFor="let type of rweBusinessSubCatType " [value]="type.id">
                                {{ type.name }}
                              </option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>Services/Product</td>
                          <td>
                            <select name="business_products" id="business_products" class="select-box-3 width100" [(ngModel)]="selectedRWEServiceOrProduct"  (change)="onFilterChange('selectedRWEServiceOrProduct', $event)">
                              <option value="" disabled selected>Select Product</option>
                              <option *ngFor="let type of rweServiceOrProduct " [value]="type.id">
                                {{ type.name }}
                              </option>
                            </select>
                          </td>
                          <td>
                            Inventory (Vol./Qty)
                          </td>
                          <td>
                            <input type="text" id="" class="input-box-3 width60 margin-right-10px" [(ngModel)]="selectedInventory"/> <select
                              class="select-box-3 width30"  [(ngModel)]="selectedInventoryUnit">
                              <option  value="" disabled selected>-Select Unit-</option>
                              <option value="Kg">Kg</option>
                              <option value="Litre">Litre</option>
                              <option value="Pack">Pack</option>
                              <option value="Piece">Piece</option>
                              <option value="Other">Other</option>        
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Start Month
        
                          </td>
                          <td>
                            <select class="select-box-3 width100"  [(ngModel)]="selectedStartMonth">
                              <option>-Select Month-</option>
                              <option value="1">January</option>
                              <option value="2">February</option>
                              <option value="3">March</option>
                              <option value="4">April</option>
                              <option value="5">May</option>
                              <option value="6">June</option>
                              <option value="7">July</option>
                              <option value="8">August</option>
                              <option value="9">September</option>
                              <option value="10">October</option>
                              <option value="11">November</option>
                              <option value="12">December</option>
                            </select>
                          </td>
        
        
                          <td>
                            Start Year
                          </td>
                          <td>
                            <select class="select-box-3 width100" [(ngModel)]="selectedStartYear">
                              <option>-Select Year-</option>
                              <option *ngFor="let yr of years" [value]="yr">
                                {{ yr }}
                              </option>
                            </select>
                          </td>
                        </tr>
                        <tr>
                          <td>
        
        
                            Total Investment
                          </td>
                          <td>
                            <input type="text" id="" class="input-box-3 width100 " [(ngModel)]="totalInvestment"/>
                          </td>
        
        
                          <td>
                            Self Investment
                          </td>
                          <td>
                            <input type="text" id="" class="input-box-3 width100 " [(ngModel)]="selfInvestment" />
                          </td>
                        </tr>
                        <tr>
                          <td>
        
                            Project Loan (if any)
                          </td>
                          <td>
                            <input type="text" id="" class="input-box-3 width100 " [(ngModel)]="projectLoan" />
                          </td>
        
        
                          <td>
                            Bank Loan (if any)
                          </td>
                          <td>
                            <input type="text" id="" class="input-box-3 width100 " [(ngModel)]="bankLoan"/>
                          </td>
        
        
                        </tr>
                        <tr>
                          <td>
        
                            Collective Loan (if any)
                          </td>
                          <td>
                            <input type="text" id="" class="input-box-3 width100 " [(ngModel)]="collectiveLoan"/>
                          </td>
        
                        </tr>
                        <tr>
                          <td colspan="4" class="text-align-center back-white" align="center">
                            <input *ngIf="hideSaveRWE" type="button" value="Save" class="btn-blck1" id="saveRweBusiness" (click)="onSaveRweBusiness()" />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
        
              </div>
              <div class="clear-both-5"></div>
            </div>
          </div>
        </div>

        <div class="clear-both-15">&nbsp;</div>

      </div>
    </div>
  </div>
</div>
