/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.font-color-white {
	color:#fff;
}
.max-width100{
	max-width:100%;
}

.padding-zero{
	padding:0;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  
}

.box .row {
  
}

.box .row.header {
  flex: 0 1 auto;
  /* The above is shorthand for:
  flex-grow: 0,
  flex-shrink: 1,
  flex-basis: auto
  */
}

.header{
	background:#ccc;
}
.box .row.content {
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 40px;
}
.footer{
	padding:20px 0px; font-size:12px;
}
.row{margin:0!important;}
.width100{width:100%!important;}
.padding8 {
        padding: 8px;
    }

    .select-box-3 {
        padding: 7px;
        border-radius: 3px;
        border: 1px solid #b5b2b2;
    }

    .page-filter {
        position: absolute;
        z-index: 1;
        right: 7px;
        top: 17px;
    }

    .column-tab1 {
        border-top: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
        margin: 10px 0px;
        max-height: 200px;
        overflow-y: auto;
    }
	
	.jsgrid-pager {
        right: 150px;
        top: 19px;
    }

    .jsgrid-pager-container {
        display: block !important;
    }

    .jsgrid {
        position: static !important;
    }

    #dv_filtercolumns_processed, #lbl_filtercolumnscount1, #lnk_resetcolumnfilter1, #btn_clear_filter {
        display: none;
    }

    a.collapsed > span.expandedIndicator, a:not(.collapsed) > span.collpasedIndicator {
        display: none;
    }

    .column-tab-box {
        position: absolute;
        z-index: 100;
        right: 0;
        top:57px;
        background-color: #fff;
        border: 1px solid rgb(175, 175, 175);
        border-top: 0;
        transition: all .15s ease;
    }

    .filter-tab-box {
        box-shadow: 10px 10px 10px #ccc;
        border-top: 1px solid #afafaf;
        border-bottom: 1px solid #afafaf;
        padding: 3%;
        position: absolute;
        background: #fff;
        z-index: 3;
        top: 4.1em;
    }
    .display-none {
        display: none;
    }
    .filter {
        /*background: #e3e3e3;
    display: inline-block;
    padding: 5px 18px;
    color: #514943;
    border: 1px solid #b1b1b1;
    font-size: 1.2em;
    margin: 0px 15px;
    cursor: pointer;*/
        cursor: pointer;
        position: absolute;
        color: #514943;
        padding: 15px 30px;
    }

    .filter-link {
        top: -7px;
        right: 60%;
        z-index: 5;
    }

    .default-link {
        top: -8px;
        right: 27%;
    }

    .column-link {
        top: -8px;
        right: 0;
    }

    .column-tab1 {
        border-top: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
        margin: 10px 0px;
        max-height: 200px;
        overflow-y: auto;
    }

    .awe-arrow {
        margin-left: 10px;
        font-size: 1.3em
    }

    .awe-filter {
        color: #514943;
        font-size: 1.2em;
        margin-right: 5px;
    }

    .filter-btn {
        box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
        background-color: #fff;
        transition: all .3s ease;
        padding: 8px 15px !important;
    }

    .filter-tab-btn {
        background-color: #fff;
        border-top: 5px solid #ff0000;
        border-left: 1px solid#afafaf;
        border-right: 1px solid#afafaf;
        /*border-bottom: 5px solid#fff;
    padding:12px 18px;*/
    }

    .width50 {
        width: 50%;
    }


    .text-overflow-ellipsis {
        white-space: nowrap;
        overflow: hidden !important;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
	
.div_logo{
	max-width: 25%;
    transition: 50%,50%;
    position: absolute;
    left: 25%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.clear-both-20{
	clear:both;
	height:20px;
}
.navbar-inverse {
    background-color: #222;
    border-color: #080808;
	height:100%;
}
/*----------------Internal pages sidebar css-----------------*/
.max-width25 {
    max-width: 3em;
}

.panel-title {
    font-size: 1em;
    color: white !important;
    letter-spacing: 1px;
    margin-top: 0;
    margin-bottom: 0;
	text-transform:uppercase;
}

.panel {
    border: none;
    border-radius: 0px !important;
    margin: 0;
}

.panel-default > .panel-heading {
    background-color: rgb(99,97,88);
}

.panel-heading {
    border-radius: 0px !important;
}

.panel-body a {
    color: #000;
}

.table > tbody > tr > td {
    border-top: none !important;
    border-bottom: 1px solid #ddd;
}

.panel-body table tr td {
    letter-spacing: 0px;
}

.panel-body .table {
    margin-bottom: 0px;
}

.panel-body {
    padding: 0px;
    font-size: 1em;
}
