<div class="container-fluid">
    <div class="row display-flex">
          <div class="col-md-2 font-color-white padding-zero navbar-inverse align-item" id="left-menu">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading panel-title">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapsezero">
                                
                                &nbsp; USER CONFIGURATION</a>
                        </h4>
                    </div>
                    <div id="collapsezero" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                
                                <tr>
                                    <td>
                                        <a href="rolemanagement.html" class="font-color-black" onclick="setDivID('collapsezero')" id="link_profile">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; Application User Master</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="editadmindetails.html" class="font-color-black" onclick="setDivID('collapsezero')" id="link_profile">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; Edit Administrator Details</a>
                                    </td>
                                </tr>
                                
                                
                            </table>
                        </div>
                    </div>
                </div>
                
                

                <div class="panel panel-default">
                    <div class="panel-heading panel-title">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                
                                &nbsp; USERS DETAILS</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="projectofficer.html" class="font-color-black" onclick="setDivID('collapseTwo')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; Project Officer Master</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="dc.html" class="font-color-black" onclick="setDivID('collapseTwo')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; District Coordinator Master</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="bc.html" class="font-color-black" onclick="setDivID('collapseTwo')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; Block Coordinator Master</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="sp.html" class="font-color-black" onclick="setDivID('collapseTwo')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; SoochnaPreneur Master</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="bn.html" class="font-color-black" onclick="setDivID('collapseTwo')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; Beneficiary Master</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-title">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                
                                &nbsp; COMPANY DETAILS</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                
                                <tr>
                                    <td>
                                        <a href="editcompanydetails.html" class="font-color-black" onclick="setDivID('collapseOne')" id="link_profile">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; Edit Company Details</a>
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td>
                                        <a href="project.html" class="font-color-black" onclick="setDivID('collapseOne')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; Project Master</a>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading panel-title">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                
                                &nbsp; REPORTS SECTION</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="projectreport.html" class="font-color-black" onclick="setDivID('collapseThree')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp;  All Project Report</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="Beneficiariesreport.html" class="font-color-black" onclick="setDivID('collapseThree')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; All Beneficiaries Report</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="spwisebeneficiariesdetails.html" class="font-color-black" onclick="setDivID('collapseThree')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; SP Wise Beneficiaries Report</a>
                                    </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-title">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                
                                &nbsp; SERVICE SECTION</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="services.html" class="font-color-black" onclick="setDivID('collapseFour')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp;  View All Services</a>
                                    </td>
                                </tr>
                                
                                
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading panel-title">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" >
                                
                                &nbsp; PAYMENT SECTION</a>
                        </h4>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="processpayment.html" class="font-color-black" onclick="setDivID('collapseThree')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; Process Payment</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="paymentReport.html" class="font-color-black" onclick="setDivID('collapseThree')">
                                            <img class="max-width25" src="images/links-arrow.png" />
                                            &nbsp; Payment Report</a>
                                    </td>
                                </tr>
                                
                                
                            </table>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
           <div class="col-md-10">
                <div style="height:100%;"> 

                    
                    <div class="width100">
    <div class="heading-title">Process Payment</div>
    <div class="clear-both-20"></div>
    <div class="float-right">
        <div class="float-left" style="margin-top: 5px;">
            <button type="button" title="Download Report in XLS" id="btn_exporttoexcel" class="border-none">
                <i class="fa fa-file-excel-o file-icon" style="font-size: 30px;" aria-hidden="true"></i>
            </button>
            
        </div>
        
        
    </div>
